<h3>Users Management</h3>

<p>Manage your users.</p>

<a routerLink="/menu/create-raza"
  ><button pButton type="button" label="Create Raza"></button>
</a>

<p-table [value]="razas">
  <ng-template pTemplate="header">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-raza>
    <tr>
      <td>{{ raza.id }}</td>
      <td>{{ raza.nombre }}</td>
      <td>
        <button
          pButton
          type="button"
          label="Delete"
          (click)="delete(raza.id)"
        ></button>
        <a [routerLink]="['/menu', 'user-detail', raza.id]">
          <button pButton type="button" label="Details"></button>
        </a>
        <a [routerLink]="['/menu', 'update-raza', raza.id]">
          <button pButton type="button" label="Edit"></button>
        </a>
      </td>
    </tr>
  </ng-template>
</p-table>
