<form
  #formularioRaza="ngForm"
  novalidate
  (submit)="emitirFormularioValido(formularioRaza)"
>
  <div>
    <p *ngIf="inputNombre.errors">
      Error:
      <span *ngIf="inputNombre.errors.required">El nombre es requerido</span>
    </p>

    <label for="name">Nombre</label>
    <input
      type="text"
      id="name"
      required
      #inputNombre="ngModel"
      [(ngModel)]="nombreRaza"
      name="nombre"
    />
  </div>

  <div>
    <label for="username">Username</label>
    <input type="text" id="username" [(ngModel)]="username" name="username" />
  </div>

  <div>
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      [(ngModel)]="password"
      name="password"
    />
  </div>

  <a routerLink="/menu/user-admin"> <button>Return</button> </a>
  <button type="reset">Reset</button>
  <button type="submit" [disabled]="formularioRaza.invalid">
    {{ nombreBoton }}
  </button>
</form>
