<!-- The content below is only a placeholder and can be replaced. -->
<h1>Componente principal</h1>

<ul>
  <li><a routerLink="/home">Home</a></li>
  <li>
    <a routerLink="/menu">Menu</a>
    <ol>
      <li><a routerLink="/menu/user-admin">Users Management</a></li>
      <li><a routerLink="/menu/product-admin">Products Management</a></li>
    </ol>
  </li>
  <li><a routerLink="/profile">Profile</a></li>
  <li><a routerLink="/login">Login</a></li>
</ul>

<router-outlet></router-outlet>

<p>Footer</p>
